extends layout
 
block content
  if error
    .alert.alert-danger
      strong #{error.name}: #{error.message}
      
  h1 Create Template
  div.top
    form(role='form' action='/methods/createTemplate' method='post' id='createContactTemplate')
      label(for='name') Name
      input#name.form-control(placeholder="Name" type="text" name="name")
      br
      label(for='interval') Interval
      select.form-control#interval(name='interval')
          option(value='hour') Hourly
          option(value='day') Daily
          option(value='week') Weekly
          option(value='month') Monthly
          option(value='year') Annually
      br
      table.table.table-striped
        label Select Contacts
        thead
          tr
            th Name
            th Email
            th Select
        tbody   
        each contact in contacts
          tr
            td #{contact.name}
            td #{contact.email}
            td 
              input(type='checkbox', checked=false, name= 'contactId-'+contact._id) 
      br
      label(for='subjects') Subjects
      input#subjects.form-control(placeholder="Comma separated list of subjects" type="text" name="subjects")
      br
      label(for='greetings') Greetings
      input#greetings.form-control(placeholder="Comma separated list of greetings" type="text" name="greetings")
      br
      label(for='messages') Messages
      input#messages.form-control(placeholder="Comma separated list of messages" type="text" name="messages")
      br
      label(for='signatures') Signatures
      input#signatures.form-control(placeholder="Comma separated list of signatures" type="text" name="signatures")
      br
      button.btn.btn-default(type="submit") Create
      a(href='/' class='btn btn-danger') Back