extends layout

block content
	h1= title
	h5 #{message}
	a(href='/logout' class='btn btn-danger') Log out
	p

	table.table.table-striped
		h3 Contacts
		a(href='/createContact' class='btn btn-default') Add Contact 
		if contacts.length
			thead
				tr
					th Name
					th Email
					th
			tbody		
			each contact in contacts
				tr
					td #{contact.name}
					td #{contact.email}
					td
						form(action='/methods/deleteContact/' + contact._id method='post' id='deleteContactForm')
								input.btn(type="submit" class="btn btn-danger" value="Delete")
		
	table.table.table-striped
		h3 Templates 
		a(href='/createTemplate' class='btn btn-default') Add Template
		if templates.length
			thead
				tr
					th Name
					th Interval (sec)
					th Repeat
					th 
					th
			tbody		
			each template in templates
				tr
					td #{template.name}
					td #{template.interval.interval} 
					td #{template.interval.repeat}
					if !template.interval.repeat
						td 
							form(action='/methods/toggleTemplate/' + template._id method="post" id='activateTemplateForm') 
								input.btn(type="submit" class="btn btn-success" value="Activate")			
					else
						td 
							form(action='/methods/toggleTemplate/' + template._id method="post" id='deactivateTemplateForm') 
								input.btn(type="submit" class="btn btn-danger" value="Deactivate")
					td
						form(action='/methods/deleteTemplate/' + template._id method='post' id='deleteTemplateForm')
							input.btn(type="submit" class="btn btn-danger" value="Delete")

	table.table.table-striped
		h3 Sent Emails
		if emails.length
			thead
				tr
					th Recipient
					th Subject
					th Date
			tbody		
			each email in emails
				tr
					td #{email.recipient.name}
					td #{email.subject}
					td #{email.dateSent}

	a(href='/logout' class='btn btn-danger') Log out