extends layout

block content
    if error
        .alert.alert-danger
            strong #{error.name}: #{error.message}
    h3 Sent to: #{email.recipient.name}  
    h5 Email: #{email.recipient.email}

    .well.well-sm
        h5 Subject: #{email.subject}
    .well.well-lg
        each m in message
            h5 #{m}

    h5 #{email.dateSent}

    a(href='/' class="btn btn-default") Home
    a(href='/allEmail' class="btn btn-default") All Email